body {
    font-family: "Nunito"
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(11, 40, 57, 0.95);
    height: 75px;
    z-index: 1;
}

header img {
    position: fixed;
    width: 68px;
    height: 60px;
    left: 15px;
    top: 7px;
}

header h1{
    position: fixed;
    color: white;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    text-overflow: clip;
}

main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#addFavorite{
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B2839;
    border-color: #0B2839;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    font-size: 3em;
    font-weight: bold;


    transform: scale(1);
    transition: all 200ms ease-in-out;

}

#addFavorite:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #155174;
    border: none;

}

#settings{
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B2839;
    border-color: #0B2839;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    font-size: 3em;
    font-weight: bold;


    transform: scale(1);
    transition: all 200ms ease-in-out;

}

#settings:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #155174;
    border: none;


}

#newFavorite{
    display: flex;
    width: 125px;
    justify-content: space-between;
    align-items: center;
}

#close {
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

#close:hover {
    cursor: pointer;
    transform: scale(1.25);
}

#windowAdd {
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#windowAdd label{
    margin-top: 20px;
}

#windowAdd button {
    margin-top: 20px;
}

#windowAdd img, #windowSetting #close {
    position : absolute;
    top: 15px;
    right: 15px;
}

#windowSetting{
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#windowSetting div{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 5px;
}
#windowSetting div input{
    margin-right: 10px;
}

#createFavorite{
    background-color: #47a347;
    font-weight: bold;
    border-style: none;
    color: white;
    font-family: "Nunito";
    font-size: 1vw;
    height: auto;
    width: auto;
    margin-top: 1vh;
    padding: 1vh 2vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transform: scale(1);
    transition: all 200ms ease-in-out;
}
#createFavorite:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: hsl(120, 44%, 51%);
}


#favorites{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75vw;
    margin: 15px;
    justify-content: space-evenly;
    
}

.favorite {
    border: solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 125px;
    margin: 5px;
    transform: scale(1);
    transition: all 200ms ease-in-out;
    background-color: white;

}

.favorite:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: white;
    background-color: #0f374e;
    color: white;
}

.favorite h2{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    word-break: break-all;
    margin-bottom: 8px;
}

.favorite img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}








/* Forme ligne */

.forme-main {
    display: flex;
    width: 10vw;
    height: 48vh;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    bottom: 45px;
    left: 45px;
    min-width: 100px;
    z-index: -1;
}

.forme-column1 {
    display: flex;
    padding-bottom: 15vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forme-column2 {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 9vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forme-column3 {
    display: flex;
    padding-top: 25vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#fc11 {
    width: 2.5vw;
    min-width: 21px;
    height: 13vh;
    min-height: 75px;
    background: #0B2839;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc11:hover {
    height: 15vh;
}

#fc12 {
    width: 2.5vw;
    min-width: 21px;
    height: 10vh;
    /*72*/
    min-height: 40px;
    background: #52B8B3;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc12:hover {
    height: 12vh;
}

#fc13 {
    width: 2.5vw;
    min-width: 21px;
    height: 6vh;
    /*72*/
    min-height: 34.5px;
    background: #67B566;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc13:hover {
    height: 8vh;
}

#fc21 {
    width: 2.5vw;
    min-width: 21px;
    height: 6vh;
    min-height: 34.5px;
    background: #722662;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc21:hover {
    height: 8vh;
}

#fc22 {
    width: 2.5vw;
    min-width: 21px;
    height: 9vh;
    min-height: 51.75px;
    background: #177988;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc22:hover {
    height: 11vh;
}


#fc23 {
    width: 2.5vw;
    min-width: 21px;
    height: 15vh;
    min-height: 86px;
    background: #0B2839;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc23:hover {
    height: 17vh;
}


#fc31 {
    width: 2.5vw;
    min-width: 21px;
    height: 6vh;
    min-height: 34.5px;
    background: #F1AF42;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc31:hover {
    height: 8vh;
}


#fc32 {
    width: 2.5vw;
    min-width: 21px;
    height: 14vh;
    min-height: 80.5px;
    background: #E05E3C;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc32:hover {
    height: 16vh;
}
